<!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Créer une table</title>
    </head>

    <body>
        <div>
            <a href="/"><button>Retour</button></a>
        </div>

        <form action="/create" method="post">
            <div>
                <input type="number" name="nbJoueurs" id="nbJoueurs"><label for="nbJoueurs">Nombre de joueurs</label>
            </div>
            <div>
                <input type="number" name="montantJoueurs" id="montantJoueurs"><label for="montantJoueurs">Montant par joueurs</label>
            </div>
            <div>
                <input type="text" name="nomCreateur" id="nomCreateur"><label for="nomCreateur">Votre nom</label>
            </div>
            <div>
                <input type="submit" value="Créer la table">
            </div>
        </form>
    </body>
</html>