<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Rejoindre une table</title>
    </head>

    <body>
        <div>
            <a href="/"><button>Retour</button></a>
        </div>

        <form action="/join" method="post">
            <div>
                <input type="text" name="nomJoueur" id="nomJoueur"><label for="nomJoueur">Votre nom</label>
                <input type="text" name="codePartie" id="codePartie"><label for="codePartie">Code de la partie</label>
            </div>
            <div>
                <input type="submit" value="Rejoindre">
            </div>
        </form>
    </body>
</html>