<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Salle d'attente - Table {{ table_id }}</title>
    </head>
    <body>
        <h1>Salle d'attente pour la table <span id="table-id">{{ table_id }}</span></h1>
        <p>Connecté en tant que <span id="nom-joueur">{{ nom_joueur}}</span></p>
        <p id="joueurs-info"><span id="joueurs-connectes">{{ nombre_joueurs }}</span>/{{ max_joueurs }} joueurs</p>

        <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
        <script src="/static/js/websocket.js"></script>
    </body>
</html>